.circle {
  border: 1px solid white;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
}
.circle.plus:before,
.circle.plus:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: green;
}
.circle.plus:before {
  width: 2px;
  margin: 2px auto;
}
.circle.plus:after {
  margin: auto 2px;
  height: 2px;
}
